.logo {
	height: 2.5rem;
	width: auto;
	/*position: absolute;
	top: -0.2rem;
	left: 0;
	z-index: 100;
	border-radius: 0 0 .5rem 0;*/
	/*background: #343a40;*/
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fd9a27;
}

.bg-dark {
	background: #1f2225;
}