
.footer {
  color: #fff;
  padding: 5px 0;
  font-size: 12px;
}

.footer p {
  text-align: justify;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer li {
  float: left;
  margin-right: 8px;
}