<footer>
  <div class="footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3>About us</h3>
          <p><b>Software Architecture and Design Illuminated Tran Binh Duong 29th May, 2018 Assignment 2.</b>
          <br/>In a University, there is a request from the Chancellor to have a Web-based system which enables uploading their scientists' research documents on and supports their scientists searching their interested documents.</p>
        </div>
        <div class="col-md-4">
          <h3>Find us on</h3>
          <ul>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-twitter-square"></i></li>
            <li><i class="fab fa-google-plus-square"></i></li>
          </ul>
          <br/>
          <p>
            dochub@gmail.com<br/>
            FPT University, Hanoi, Vietnam
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>