<footer>
  <div class="footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3>About us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque maximus arcu quis orci facilisis sollicitudin.
            Morbi ultricies pulvinar luctus. Phasellus porta felis eu arcu suscipit, eu elementum turpis tincidunt. Maecenas
            sagittis elit malesuada nunc auctor tempor. Nunc non ornare justo. Donec fringilla vitae est eu consequat.</p>
        </div>
        <div class="col-md-4">
          <h3>Find us on</h3>
          <ul>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-twitter-square"></i></li>
            <li><i class="fab fa-google-plus-square"></i></li>
          </ul>
          <br/>
          <p>
            dochub@gmail.com<br/>
            FPT University, Hanoi, Vietnam
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>