<div class="container">
  <div class="card" style="height: 500px; margin-bottom: 16px;">
    <div class="card-body">
      <p>PDF Viewer</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>Comment</h3>
      <div class="row comment-input">
        <div class="col-md-2">
          <img src="assets/img/user.png" />
        </div>
        <div class="col-md-8">
          <form>
            <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
            </div>
          </form>
        </div>
        <div class="col-md-2">
          <button class="btn btn-outline-primary btn-block">Send</button>
        </div>
      </div>
      <ul class="comment-list">
        <li class="row">
          <div class="col-md-2">
            <img src="assets/img/user.png" />
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5>demo</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas nibh eu diam iaculis, ac lobortis nulla feugiat. Cras sodales eros in nibh viverra, eget varius nibh laoreet.
                </p>
              </div>
              <div class="card-footer">
                <button class="btn btn-outline-primary">
                    <i class="far fa-thumbs-up"></i> 96
                </button>
                <button class="btn btn-outline-info">
                    <i class="far fa-comments"></i> 8
                </button>
                <span style="padding: 8px 0;" class="text-muted float-right">19:00</span>
              </div>
            </div>
          </div>
        </li><!--/. end a comment -->
        <li class="row">
            <div class="col-md-2">
              <img src="assets/img/user.png" />
            </div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-body">
                  <h5>demo</h5>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas nibh eu diam iaculis, ac lobortis nulla feugiat. Cras sodales eros in nibh viverra, eget varius nibh laoreet.
                  </p>
                </div>
                <div class="card-footer">
                  <button class="btn btn-outline-primary">
                      <i class="far fa-thumbs-up"></i> 96
                  </button>
                  <button class="btn btn-outline-info">
                      <i class="far fa-comments"></i> 8
                  </button>
                  <span style="padding: 8px 0;" class="text-muted float-right">19:00</span>
                </div>
              </div>
            </div>
          </li><!--/. end a comment -->
          <li class="row">
              <div class="col-md-2">
                <img src="assets/img/user.png" />
              </div>
              <div class="col-md-8">
                <div class="card">
                  <div class="card-body">
                    <h5>demo</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas nibh eu diam iaculis, ac lobortis nulla feugiat. Cras sodales eros in nibh viverra, eget varius nibh laoreet.
                    </p>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-outline-primary">
                        <i class="far fa-thumbs-up"></i> 96
                    </button>
                    <button class="btn btn-outline-info">
                        <i class="far fa-comments"></i> 8
                    </button>
                    <span style="padding: 8px 0;" class="text-muted float-right">19:00</span>
                  </div>
                </div>
              </div>
            </li><!--/. end a comment -->
      </ul>
    </div>
  </div>
</div>