
.content {
	width: 100%;
	height: auto;
	min-height: 300px;
	background-color: #3333;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

.card:hover {
	background-color: #f1f1f1;
}