<div class="container">
	<h1>Register</h1>

	<div class="card col-8">
		<div class="card-body">
			<form (submit)=register($event)>
				<label for="username">Username</label>
				<input type="text" id="username" class="form-control" placeholder="Username" required autofocus
					[(ngModel)]="user.username" name="username">
				
				<label for="password" class="mt-2">Password</label>
				<input type="password" id="password" class="form-control" placeholder="Password" required
					[(ngModel)]="user.password" name="password">

				<label for="name" class="mt-2">Your name</label>
				<input type="text" id="name" class="form-control" placeholder="John Doe" required
					[(ngModel)]="user.name" name="name">

				<label for="type" class="mt-2">Account type</label>
				<input type="text" id="type" class="form-control" placeholder="Student" value="Student" required
					[(ngModel)]="user.type_id" name="type_id">

				<label for="avatar" class="mt-2">Avatar</label>
				<input type="file" id="avatar" class="form-control" (change)="fileChange($event)"
					accept="image/*" name="avatar">

				<button type="submit" class="btn btn-outline-primary mt-3 float-right">Register</button>
			</form>
		</div>
	</div>
</div>